In [64]:
import pandas as pd 
import yaml
import os

In [34]:
# The path to your YAML configuration file
yaml_file_path = r"C:\Users\toloz\Ironhack\Week 8 and Week 9\Project\Project_Folder\Final_Project\config.yaml"

# Load the YAML configuration file
with open(yaml_file_path, 'r') as file:
    config = yaml.safe_load(file)

# Extract the file path for the raw data
# Note the new dictionary key 'Raw_Data'
input_file_path = config['Raw_Data']['file']

# Read the CSV file into a pandas DataFrame using the path from the YAML file
# The encoding parameter is added to handle potential UnicodeDecodeErrors,
# as seen in your previous attempts. 'latin1' is a common encoding for this type of error.
df = pd.read_csv(input_file_path , encoding='windows-1252')

In [35]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [36]:
df.shape

(9994, 21)

In [37]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [38]:
df.rename(columns = {"Row ID": "Row_ID", "Order ID": "Order_ID",
                     "Order Date": "Order_Date",
                    "Ship Date": "Ship_Date",
                    "Ship Mode": "Ship_Mode",
                     "Customer ID": "Customer_ID",
                    "Customer Name": "Customer_Name",
                    "Postal Code": "Postal_Code",
                    "Product ID": "Product_ID",
                    "Product Name": "Product_Name",
                    "Sub-Category": "Sub_Category"}, inplace = True)

In [39]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [40]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [14]:
df.head()

,Order_ID,Order_Code,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [16]:
df.duplicated().any().sum()

np.int64(0)

In [17]:
df.isnull().any().sum()

np.int64(0)

In [19]:
df["Ship_Mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [20]:
df["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [21]:
df["Category"].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [23]:
df["Sub_Category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [32]:
df.columns

Index(['Order_ID', 'Order_Code', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [48]:
# Create Customers table
df_customers = df[["Customer_ID", "Segment", "Customer_Name"]].drop_duplicates(subset="Customer_ID").reset_index(drop=True)

In [49]:
# Create junction Table
df_Products_Orders = df[["Row_ID","Product_ID","Order_ID"]]

In [50]:
# Create Category Table
df_category = df[["Category", "Sub_Category"]].drop_duplicates().reset_index(drop=True)

In [52]:
# Create Products Table
df_Product = df[["Product_ID","Product_Name"]].drop_duplicates(subset = "Product_ID").reset_index(drop = True)

In [55]:
# Create the Country Table
df_country = df[["Country"]].drop_duplicates().reset_index(drop=True)

In [59]:
# Create the Region Table 
df_region = df[["Region"]].drop_duplicates().reset_index(drop=True)

In [57]:
# Create the State Table
df_state = df[["State"]].drop_duplicates().reset_index(drop=True)

In [61]:
# Create the City Table
df_city = df[["City"]].drop_duplicates().reset_index(drop=True)

In [62]:
# Create the Postal_Code Table
df_postal_code = df[["Postal_Code"]].drop_duplicates().reset_index(drop=True)

In [67]:
#  Define the output directory based on your YAML file path
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)

In [66]:
# Export each DataFrame to a separate CSV file
df_customers.to_csv(os.path.join(output_dir, "customers.csv"), index=False)
df_Products_Orders.to_csv(os.path.join(output_dir, "products_orders.csv"), index=False)
df_category.to_csv(os.path.join(output_dir, "category.csv"), index=False)
df_Product.to_csv(os.path.join(output_dir, "product.csv"), index=False)
df_country.to_csv(os.path.join(output_dir, "country.csv"), index=False)
df_region.to_csv(os.path.join(output_dir, "region.csv"), index=False)
df_state.to_csv(os.path.join(output_dir, "state.csv"), index=False)
df_city.to_csv(os.path.join(output_dir, "city.csv"), index=False)
df_postal_code.to_csv(os.path.join(output_dir, "postal_code.csv"), index=False)

print(f"All DataFrames have been exported to the '{output_dir}' folder.")

All DataFrames have been exported to the '..\Data\Clean' folder.