In [2]:
import pandas as pd 
import yaml
import os

In [17]:
# The path to your YAML configuration file
yaml_file_path = r"C:\Users\toloz\Ironhack\Week 8 and Week 9\Project\Project_Folder\Final_Project\config.yaml"

# Load the YAML configuration file
with open(yaml_file_path, 'r') as file:
    config = yaml.safe_load(file)

# Extract the file path for the raw data
# Note the new dictionary key 'Raw_Data'
input_file_path = config['Raw_Data']['file']

# Read the CSV file into a pandas DataFrame using the path from the YAML file
df = pd.read_csv(input_file_path , encoding='windows-1252')

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [18]:
df.rename(columns = {"Row ID": "Row_ID", "Order ID": "Order_ID",
                     "Order Date": "Order_Date",
                    "Ship Date": "Ship_Date",
                    "Ship Mode": "Ship_Mode",
                     "Customer ID": "Customer_ID",
                    "Customer Name": "Customer_Name",
                    "Postal Code": "Postal_Code",
                    "Product ID": "Product_ID",
                    "Product Name": "Product_Name",
                    "Sub-Category": "Sub_Category"}, inplace = True)

In [9]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [10]:
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [11]:
df.duplicated().any().sum()

np.int64(0)

In [ ]:
#  Define the output directory based on your YAML file path
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)

In [27]:

# Ensure date columns are in datetime format
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

# --- Step 1: Create Dimension Tables ---

# 1. Location Dimension Table
location_df = df[['Postal_Code', 'City', 'State', 'Country', 'Region']].drop_duplicates().reset_index(drop=True)
location_df = location_df.rename(columns={'Postal_Code': 'postal_code', 'City': 'city', 'State': 'state', 'Country': 'country', 'Region': 'region'})
location_df['location_id'] = location_df.index + 1

# 2. Sub_Category
sub_category_df = df[['Sub_Category']].drop_duplicates().reset_index(drop=True)
sub_category_df = sub_category_df.rename(columns={'Sub_Category': 'sub_category'})
sub_category_df['sub_category_id'] = sub_category_df.index + 1

# 3. Category
category_df_temp = df[['Category', 'Sub_Category']].drop_duplicates().reset_index(drop=True)
category_df = pd.merge(category_df_temp, sub_category_df, left_on='Sub_Category', right_on='sub_category', how='left')
category_df = category_df.rename(columns={'Category': 'category'})
category_df['category_id'] = category_df.index + 1
category_df = category_df[['category_id', 'category', 'sub_category_id']]

# 4. Product
product_df = df[['Product_ID', 'Product_Name']].drop_duplicates(subset=['Product_ID']).reset_index(drop=True)
product_df = product_df.rename(columns={'Product_ID': 'product_id', 'Product_Name': 'product_name'})

# 5. Junction table for Product to Category
product_to_category_df = df[['Product_ID', 'Category']].drop_duplicates().reset_index(drop=True)
product_to_category_df = pd.merge(product_to_category_df, category_df[['category', 'category_id']], left_on='Category', right_on='category', how='left')
product_to_category_df = product_to_category_df[['Product_ID', 'category_id']]
product_to_category_df = product_to_category_df.rename(columns={'Product_ID': 'product_id'})

# 6. Segment
segment_df = df[['Segment']].drop_duplicates().reset_index(drop=True)
segment_df = segment_df.rename(columns={'Segment': 'segment'})
segment_df['segment_id'] = segment_df.index + 1

# 7. Customer
customer_df = df[['Customer_ID', 'Customer_Name', 'Segment']].drop_duplicates(subset=['Customer_ID']).reset_index(drop=True)
customer_df = pd.merge(customer_df, segment_df, left_on='Segment', right_on='segment', how='left')
customer_df = customer_df[['Customer_ID', 'Customer_Name', 'segment_id']]
customer_df = customer_df.rename(columns={'Customer_ID': 'customer_id', 'Customer_Name': 'customer_name'})

# --- Step 2: Create Fact Table ---

# 8. Orders Fact Table
orders_df = df[['Order_ID', 'Sales', 'Quantity', 'Discount', 'Profit', 'Customer_ID', 'Order_Date', 'Ship_Mode', 'Ship_Date', 'Postal_Code', 'City', 'State', 'Country', 'Region']].drop_duplicates(subset=['Order_ID']).reset_index(drop=True)

# Rename columns to snake_case before merging
orders_df = orders_df.rename(columns={
    'Order_ID': 'order_id',
    'Sales': 'sales',
    'Quantity': 'quantity',
    'Discount': 'discount',
    'Profit': 'profit',
    'Customer_ID': 'customer_id',
    'Order_Date': 'order_date',
    'Ship_Mode': 'ship_mode',
    'Ship_Date': 'ship_date',
    'Postal_Code': 'postal_code',
    'City': 'city',
    'State': 'state',
    'Country': 'country',
    'Region': 'region'
})

# Merge with location_df to add the location_id
orders_df = pd.merge(orders_df, location_df, on=['postal_code', 'city', 'state', 'country', 'region'], how='left')

# Select the final columns
orders_df = orders_df[['order_id', 'sales', 'quantity', 'discount', 'profit', 'customer_id', 'order_date', 'ship_mode', 'ship_date', 'location_id']]

# 9. Products_to_orders Junction Table
products_to_orders_df = df[['Order_ID', 'Product_ID']].drop_duplicates().reset_index(drop=True)
products_to_orders_df = products_to_orders_df.rename(columns={'Order_ID': 'order_id', 'Product_ID': 'product_id'})

# --- Step 3: Export all DataFrames to CSVs ---
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)

orders_df.to_csv(os.path.join(output_dir, 'orders.csv'), index=False)
customer_df.to_csv(os.path.join(output_dir, 'customer.csv'), index=False)
product_df.to_csv(os.path.join(output_dir, 'product.csv'), index=False)
location_df.to_csv(os.path.join(output_dir, 'location.csv'), index=False)
category_df.to_csv(os.path.join(output_dir, 'category.csv'), index=False)
sub_category_df.to_csv(os.path.join(output_dir, 'sub_category.csv'), index=False)
segment_df.to_csv(os.path.join(output_dir, 'segment.csv'), index=False)
products_to_orders_df.to_csv(os.path.join(output_dir, 'products_to_orders.csv'), index=False)
product_to_category_df.to_csv(os.path.join(output_dir, 'product_to_category.csv'), index=False)

print(f"All DataFrames exported to CSVs in '{output_dir}'")

All DataFrames exported to CSVs in '..\Data\Clean'

In [24]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')